 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --cor-principal-70: hsl(0, 0%, 70%);
  --cor-principal-60: hsl(0, 0%, 60%);
  --cor-principal-50: hsl(0, 0%, 50%);
  --cor-principal-40: hsl(0, 0%, 40%);
  --cor-principal-30: hsl(0, 0%, 30%);
  --cor-principal-15: hsl(0, 0%, 15%);
  --cor-azul-70: hsl(240, 54%, 70%);
  --cor-azul-50: hsl(240, 54%, 50%);
  --cor-azul-30: hsl(240, 54%, 30%);
  --cor-azul-20: hsl(240, 54%, 20%);
  --cor-azul-10: hsl(240, 54%, 10%);
}

body {
  color: white;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 100dvh;
  border-radius: 15px;
  gap: 10px;
  padding-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

/* Header */

.header {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  background-color: var(--cor-principal-15);
  padding: 10px 20px;
  align-items: center;
  border-radius: inherit;
  overflow-x: auto;
  overflow-y: hidden;
}

.header__icon {
  max-height: 10svh;
  min-height: 75px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 15px;
}

.header__icon-link {
  height: inherit;
}

.header__link {
  padding: 10px;
  max-height: 10svh;
  text-align: center;
}
.header__link:hover {
  background-color: var(--cor-azul-30);
  border-radius: 15px;
}

.header__icon-search-bar {
  gap: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* SearchBar */

.header__search-bar {
  background-color: var(--cor-principal-40);
  max-width: 30dvh;
  min-width: fit-content;
  padding: 15px;
  color: var(--cor-principal-70);
  border-radius: 25px;
}

.header__search-bar-send {
  display: none;
}

/* left-bar */

.leftbar-mainmenu {
  display: flex;
  flex: 1;
  border-radius: inherit;
  gap: inherit;
  overflow: hidden;
}

.left-bar {
  max-height: 100%;
  display: grid;
  justify-items: center;
  background-color: var(--cor-principal-30);
  border-radius: inherit 0 inherit 0;
  overflow-y: auto;
}

/* Main Menu */

.main-menu {
  width: 80%;
  min-width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--cor-principal-30);
  border-radius: 0 inherit 0 inherit;
  overflow-y: auto;
}

/* Player */

.player {
  display: flex;
  height: fit-content;
  padding: 5px;
  width: 100%;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}

#player {
  margin-top: -5px;
}

@media (max-width: 500px) {
  .player{
    flex-direction: column;
  } 
}

.player__time {
  font-size: 24px;
}
.player__progress-wrapper {
  position: relative;
}

.player__link:hover {
  text-decoration: underline;
}

.player__button {
  margin: 5px;
}

.player__image {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 75px;
  margin: 5px;
  overflow: hidden;
  border-radius: 5px;
}

#player__pause-icon {
  font-size: 50px;
  transition: transform, ease, 200ms;
}

#player__pause-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
#player__progress {
  accent-color: var(--cor-azul-70);
  width: 30vw;
  max-width: 400px;
  min-width: 200px;
}

#player__progress:hover {
  cursor:pointer;
}

#progressTooltip {
  position: absolute;
  bottom: 120%;
  background: #111;
  color: #fff;
  padding: 4px 6px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  display: none;
  pointer-events: none;
}


/* Item List */

.item-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  max-height: 100%;
}

.item-list__header {
  display: flex;
  justify-content: space-between;
}


.item-list__show-more:hover {
  text-decoration: underline;
}

.item-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
}
.item-list__buttons {
  display: flex;
  gap: 10px;
}

@media (max-width: 500px){
  .item-list__buttons {
    flex-direction: column;
    gap: 5px;
  }
}
/* Single Item */

.single-item {
  padding: 10px;
  height: fit-content;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items:baseline;
  border-radius: 5%;
  transition: background-color, ease, 200ms;
  max-width: fit-content;
  gap: 10px;
}

@media (max-width: 500px){
  .single-item {
    width: 150px;
  }
}

.single-item__artist {
  align-items: center;
  width: 150px;
}


.single-item:hover {
  background-color: var(--cor-azul-10);
}

.single-item__image-button {
  position: relative;
}

.single-item__image {
  width: 100%;
  min-width: 100px;
  aspect-ratio: 1 / 1;
  object-fit:cover;
  border-radius: 5%;
  overflow: hidden;
  display: flex;
}

.single-item__image-artist {
  border-radius: 50%;
}

.single-item__icon {
  color: var(--cor-azul-70);
  font-size: 50px;
  right: 7.5px;
  bottom: 7.5px;
  position: absolute;
  opacity: 0;
  transform: translateY(70%);
  transition-timing-function: ease;
  transition-duration: 200ms;
  transition-property: opacity, transform;
}

.single-item:hover .single-item__icon {
  transform: translateY(0);
  opacity: 1;
}

.single-item__texts-title {
  font-weight: 600;
}

.single-item__texts-type {
  font-size: 13px;
}
.single-item__texts a:hover {
  text-decoration: underline;
}

.left-bar .single-item{
  scale: 0.8;
}

.teste-componente {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.teste-componente a{
  text-decoration: underline;
}

.edit-album {
  gap: 10px;
}

.edit-album__image {
  aspect-ratio: 1 / 1;
  width: 100px;
  object-fit: cover;
  overflow: hidden;
}

.edit-album__image {
  width: 150px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 5px;
}

.album-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow-y: auto;
}

/* Header do álbum */

.album-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

.album-cover {
  width: 180px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 5px;
}

.album-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.album-type {
  font-size: 12px;
  color: var(--cor-principal-70);
  text-transform: uppercase;
}

.album-title {
  font-size: 32px;
  font-weight: 700;
}

.album-artist:hover {
  text-decoration: underline;
}

.album-meta {
  font-size: 14px;
  color: var(--cor-principal-70);
}

/* Botão */

.album-actions {
  display: flex;
}

@media (max-width: 500px) {
  .album-header {
    flex-direction: column;
  }
}

.album-play {
  background-color: var(--cor-azul-50);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.album-play:hover {
  background-color: var(--cor-azul-70);
}

/* Tracklist */

.album-tracklist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.album-track {
  display: grid;
  grid-template-columns: 30px 1fr 60px;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
}

.album-track--header {
  color: var(--cor-principal-70);
  font-size: 14px;
}

.album-track:not(.album-track--header):hover {
  background-color: var(--cor-azul-10);
  cursor: pointer;
}

.profile-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
}

/* HEADER */

.profile-header {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 500px) {
  .profile-header {
    flex-direction: column;
  }
}

.profile-photo {
  width: 160px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--cor-principal-40);
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.profile-type {
  font-size: 14px;
  color: var(--cor-principal-60);
  text-transform: uppercase;
}

.profile-name {
  font-size: 32px;
  font-weight: 700;
}

.profile-meta {
  font-size: 14px;
  color: var(--cor-principal-50);
}

/* BOTÕES */

.profile-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.profile-logout {
  padding: 8px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}

.profile-edit {
  border-radius: 20px;
  padding: 8px;
   border: none;
  background-color: var(--cor-azul-50);
  color: white;
}

.profile-edit:hover {
  background-color: var(--cor-azul-70);
  cursor: pointer;
}

.profile-logout {
  background-color: var(--cor-principal-30);
  color: var(--cor-principal-70);
}

.profile-logout:hover {
  background-color: var(--cor-principal-40);
}

/* PLAYLISTS */

.profile-section h2 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile-playlist-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.profile-playlist-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  transition: background-color 200ms ease;
}

.profile-playlist-card:hover {
  background-color: var(--cor-azul-10);
  cursor: pointer;
}

.profile-playlist-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 6px;
}

.profile-playlist-title {
  font-weight: 600;
}

.profile-playlist-count {
  font-size: 13px;
  color: var(--cor-principal-60);
}

.song-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

/* Header */

.song-header {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 500px) {
  .song-header {
    flex-direction: column;
  }
}

.song-cover {
  width: 180px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 8px;
}

.song-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.song-type {
  font-size: 12px;
  color: var(--cor-principal-70);
  text-transform: uppercase;
}

.song-title {
  font-size: 32px;
  font-weight: 700;
}

.song-artist a:hover {
  text-decoration: underline;
}

.song-meta {
  font-size: 14px;
  color: var(--cor-principal-70);
}

/* Actions */

.song-actions {
  display: flex;
  gap: 10px;
}

.song-play {
  background-color: var(--cor-azul-50);
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.song-play:hover {
  background-color: var(--cor-azul-70);
}

/* Detalhes */

.song-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.song-details h2 {
  font-size: 18px;
}

.song-details p {
  color: var(--cor-principal-70);
  line-height: 1.5;
  max-width: 700px;
}

/* Extras */

.song-extra {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
  border-top: 1px solid var(--cor-principal-15);
}

.song-extra__item {
  display: flex;
  gap: 5px;
}

.song-extra__label {
  color: var(--cor-principal-50);
}
.song-add-playlist {
  background: transparent;
  border: 1px solid var(--cor-principal-40);
  color: white;
  padding: 10px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.song-add-playlist:hover {
  border-color: var(--cor-principal-70);
}




/* deixa o fundo escuro quando o modal aparecer */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: none; /* você já controla com JS */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* joga por cima de tudo */
}

/* caixa do modal */
.modal-content {
    background: var(--cor-principal-30);
    color: white;
    padding: 20px;
    width: 350px;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* botões */
.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modal-buttons a {
    padding: 8px 14px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#confirmDelete {
    background: #d9534f;
}

#cancelDelete {
    background: #5a5a5a;
}
